{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce creation</h1>

    {{ form_start(form) }}
        {% for line in form %}
        {% if loop.last == false %}
        <div class='form-group'>
        {{ form_label(line)}}
        {{ form_widget(line,{ 'attr': {'class': 'form-control'} })}}
        </div>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_annonce_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
